<%- include('partials/header') -%>

    <div class="d-flex vh-100 align-items-center justify-content-center login_bg">
        <!-- Form div -->
        <div class="center card col-6 form_bg pt-3 px-5 pb-5 ">
            <%if (status!==null && status !=="Already Exist!" ) {%>
                <h5 class="p-2 bg-success">
                    <%= status %>
                </h5>
                <% } else if(status==="Already Exist!" ) {%>
                    <h5 class="p-2 bg-danger">
                        <%= status %>
                    </h5>

                    <% } %>
                        <div class="d-flex justify-content-center  ">
                            <h1>Register</h1>
                        </div>
                        <div class="text-center mt-4">
                            <form>
                                <div class="form-floating mb-3">
                                    <input type="email" name="email" class="form-control " id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating">
                                    <input name="password" type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="d-flex flex mt-3 justify-content-between">
                                    <button class="btn-light rounded-3 align-items-start py-2 px-5" type="submit"
                                        formmethod="post" formaction="/register">Register</button>
                                    <button class="btn-primary rounded-3 align-items-start py-2 px-5" type="submit"
                                        formmethod="get" formaction="/">Already Register?</button>
                                </div>
                            </form>
                        </div>
        </div>
    </div>
    <%- include('partials/footer') -%>